 * {
  font-family: Montserrat;
}

html {
  background-image: url("./images/bistro.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  align-items: center;
}

.landing-page {
 position: fixed; 
  width: 100%;
  height: 100%;
  height: auto;
  width: 35em;
  text-align: center;
  background-color: #252122;
  opacity: 0.9;
}

.customer-page {
  background-color: #252122;
  opacity: 0.9;
  color: #FCFAFB;
  margin-top: 2.5em;

}

.details-page {
  background-color: #252122;
  opacity: 0.9;
  color: #FCFAFB;
  margin-top: 2.5em;
  margin-bottom: 2.5em;
}

 .nav-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-link-container div {
  margin: 2.5em;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  height: auto;
  width: 35em;
  text-align: center;
  background-color: #252122;
  opacity: 0.9;
  padding: 1em;
}


.form-group{
  display: flex;
  flex-direction: column;
  padding: 3em;
  color: #FCFAFB;
}

.form-group input{
  padding: 1em;
  margin: 1em;
  outline: none !important;
  border: 2px solid #800000;
  box-shadow: 0 0 20px #800000;
}

form {
  padding-bottom: 2em;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em;
}

.form-inputs input {
  border-radius: 0.1em;
  margin: 0.5em;
  padding: 0.75em;
  font-size: 0.9em;
  background-color: #FCFAFB;
}

.form-inputs input:focus {
    outline: none !important;
    border: 2px solid #800000;
    box-shadow: 0 0 50px #800000;
}

.booking-list {
  height: auto;
  width: 35em;
  text-align: center;
  background-color: #252122;
  opacity: 0.9;
}

 .booking-edit-form {
  height: auto;
  width: 35em;
  text-align: center;
  background-color: #252122;
  opacity: 0.9;
}

.table-list {
  height: auto;
  width: 35em;
  text-align: center;
  background-color: #252122;
  opacity: 0.9;
}

.link {
  padding-top: 1.5em;
  color: #FCFAFB;
  text-decoration: none;
  font-size:  1.5em;
}

.home-link {
  padding-top: 1.5em;
  padding-bottom:1em;
  color: #FCFAFB;
  text-decoration: none;
  font-size:  1.5em;
}

.table-display-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto 15em;
}

.table-card {
  height: auto;
  width: 25em;
  text-align: center;
  background-color: #252122;
  color: #FCFAFB;
  opacity: 0.9;
  padding-bottom: 1.5em;
}

.active-link {
 color: #800000;
}

h1 {
  color: #800000;
}

.all-bookings {
  margin-top: 2.5em;
  background-color: #252122;
  opacity: 0.9;
  color: #FCFAFB;
}
.all-customers {
  margin-top: 2.5em;
  background-color: #252122;
  opacity: 0.9;
  color: #FCFAFB;
}


.rt-td button{
  background-color: #FCFAFB;
  border-radius: 2.5px;
}

.booking-h1 {
  text-align: center;
  padding-top: 1em;
}

.nav-bar {
  display: flex;
  justify-content: space-around;
  background-color: #252122;
  padding: 0.5em;
  opacity: 0.9;
}

.page-container {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.details-page-container {
  text-align: center;
  margin-top: 2.5em;
}

.details-table a, th {
 font-size: 1.5em;
 color: #800000;
 text-decoration: none;
 padding: 1em 4em 1em 4em;
}

.details-table button {
  color: #252122;
}

.details-table {
  padding-bottom: 2.5em;
}

.details-table-div {
  display: flex;
  justify-content: center;
}

.tables-container {
  display: flex;
  flex-direction: row;
}
